@import "tailwindcss";

@theme {
  --spacing: 1px;

  --breakpoint-screen2: 744px;
  --breakpoint-screen3: 952px;
  --breakpoint-screen4: 1160px;
  --breakpoint-screen5: 1368px;

  --color-primary: #226cff;
  --color-surface: oklch(from var(--color-primary) 95% c h);
  --color-active: oklch(from var(--color-primary) 90% c h);
  --color-assertive: oklch(from var(--color-primary) l c 20);

  --color-text-950: oklch(from var(--color-primary) 5% 5% h);
  --color-text-500: oklch(from var(--color-primary) 50% 5% h);
  --color-text-50: oklch(from var(--color-primary) 95% 5% h);

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  html {
    color: var(--color-text-950);
    font-family: "Trebuchet MS", ui-sans-serif, system-ui, sans-serif;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-text-50, currentColor);
  }

  *:focus,
  *:focus-within,
  *:focus-visible,
  *:active {
    outline-color: var(--color-active);
    outline-width: 4px;
  }

  /**
   * @see https://charcoal-web.pixiv.design/@charcoal-ui/icons/ssr/
   */
  pixiv-icon {
    display: inline-flex;
    width: calc(var(--icon-size, 1em) * var(--scale, 1));
    height: calc(var(--icon-size, 1em) * var(--scale, 1));

    &[name^="16/"] {
      --icon-size: 16px;
    }

    &[name^="24/"] {
      --icon-size: 24px;
    }

    &[name^="32/"] {
      --icon-size: 32px;
    }

    &[scale="2"] {
      --scale: 2;
    }

    &[scale="3"] {
      --scale: 3;
    }
  }
}
