@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: theme("colors.slate.900");
  }

  /**
   * @see https://charcoal-web.pixiv.design/@charcoal-ui/icons/ssr/
   */
  pixiv-icon {
    display: inline-flex;
    width: calc(var(--icon-size, 1em) * var(--scale, 1));
    height: calc(var(--icon-size, 1em) * var(--scale, 1));

    &[name^="16/"] {
      --icon-size: 16px;
    }

    &[name^="24/"] {
      --icon-size: 24px;
    }

    &[name^="32/"] {
      --icon-size: 32px;
    }

    &[scale="2"] {
      --scale: 2;
    }

    &[scale="3"] {
      --scale: 3;
    }

    /** NOTICE: 現状だと attr(... number) はほとんどのブラウザで動かない */
    &[unsafe-non-guideline-scale] {
      --scale: attr(unsafe-non-guideline-scale number);
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
