@import "tailwindcss";

@theme {
  --color-primary: var(--color-green-500);
  --color-link: var(--color-green-600);
  --color-white-hover: var(--color-slate-100);
  --color-white-active: var(--color-slate-200);

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@layer base {
  html {
    color: var(--color-slate-900);
    font-family: "Trebuchet MS", ui-sans-serif, system-ui, sans-serif;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-slate-200, currentColor);
  }

  /**
   * @see https://charcoal-web.pixiv.design/@charcoal-ui/icons/ssr/
   */
  pixiv-icon {
    display: inline-flex;
    width: calc(var(--icon-size, 1em) * var(--scale, 1));
    height: calc(var(--icon-size, 1em) * var(--scale, 1));

    &[name^="16/"] {
      --icon-size: 16px;
    }

    &[name^="24/"] {
      --icon-size: 24px;
    }

    &[name^="32/"] {
      --icon-size: 32px;
    }

    &[scale="2"] {
      --scale: 2;
    }

    &[scale="3"] {
      --scale: 3;
    }
  }
}

@utility fadein-* {
  opacity: 0;
  animation: fadein --value([number]) linear var(--fadein-delay, 0);
  animation-fill-mode: forwards;
}

@utility fadein-delay-* {
  --fadein-delay: --value([number]);
}
